body, html{
    font-family: 'Microsoft YaHei UI', sans-serif;

    background: #FCFCFC;
}

body{
    margin-top: 70px;
}

.header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 100%;
    z-index: 99999;

    top: 0;
}

.header .banner{
    background: #252831;
    height: 70px;
}
.header .banner .logo{
    margin: 17px 0 0;
}
.header .banner .logo a{
    display: inline-block;
    background: url("/images/common/logo.png") no-repeat;
    width: 171px;
    height: 36px;
}
.header .banner .logo a img{
    display: none;
}
.banner .form-search {
    padding: 18px 0 0;
}
.banner .form-search .form-control{
    box-shadow: none;
    border: 1px solid #000000;
    border-radius: 3px;
}
.banner .form-search #submit{
    display: none;
}
.banner .form-search label{
    position: absolute;
    right: 10px;
    top: 26px;
}

.header .navbar-default{
    border: none;
    border-radius: 0;
    margin: 0px;
    background: #FFF;
    box-shadow: none;
    opacity: 0.9;
    min-height: 40px;
}
.header .navbar-default .hot {
    padding: 7px 4px;
}
.header .navbar-default .hot a{
    border: 1px solid #252831;
    padding: 2px 6px;
    border-radius: 2px;
}

.header .navbar-nav > li.active a{
    background: #ffd900;
    color: #000000;
}
.header .navbar-nav > li.active a:hover{
    background: #FFE44C;
}

.header .navbar-nav > li > a {
    padding: 10px 16px;
    color: #252831;
}
.header .navbar-nav > li.split:after{
    content: '';
    display: inline-block;
    position: relative;
    margin: 13px 10px 0;
    width: 1px;
    height: 14px;
    background:  #ccc;
}
.header .navbar-nav > li > a:hover {
    color: #666;
}

.header .um {
    margin-right: -10px;
}

.header .um ul {
    margin: 21px 0 0;
}
.header .um ul li {
    float: left;
    padding: 0px;
    margin-left: 20px;
}

.header .um a{
    line-height: 20px;
    float: left;
    display: inline-block;
    padding: 3px 16px;
    background: #ffd233;
    border-radius: 3px;
    border: 1px solid #f0ad4e;
    color: #252831;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    text-decoration: none;
    box-shadow: 0 0 1px rgba(255, 255, 255, 1) inset;
}


.cover{
    height: 520px;
    position: relative;
    width: 100%;
    margin: 0;
}
.cover .curtain{
    margin: 0;
    padding: 0;
}
.cover .curtain > li {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    list-style: none;

    background-size: auto 100%;
    background-origin: content-box;
    background-position: top center;
}

.main {
    margin-top: 25px;
}
.main .main-title {
    margin: 0px;

    font-size: 24px;
}
.main .main-header {
    margin: 0px 0 20px;
}
.main .hot-show img{
    width: 100%;
}